table {
	border: 1px solid black;
	margin-right: 50px;
	background-color: black;
}

tr {
	border: 2px solid black;
	background-color: white;
}

td {
	/*border: 1px solid grey;*/
	min-width: 65px;
}

td:nth-child(even) {
	background-color: rgba(26, 25, 25, 0.2);
}

.dark {
	background-color: rgba(252, 249, 249, 0.7);
	width: 150px;
	height: 30px;
	font-weight: bold;
}
.light {
	background-image: linear-gradient(rgb(255, 254, 254), lightgrey);
}
